{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }} | Guilherme Alves</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>

<div class="container">

    <a href="{% url 'home' %}" class="btn">Voltar</a>

    <h1>{{ project.title }}</h1>

    {% if project.image %}
        <img src="{{ project.image.url }}" class="project-img">
    {% endif %}

    <div class="card">
        <p>{{ project.description|linebreaks }}</p>
    </div>

    <h2>Tecnologias usadas</h2>

    <div class="tech-list">
        {% for tech in project.technologies.all %}
            <span>{{ tech.name }}</span>
        {% empty %}
            <p>Nenhuma tecnologia cadastrada.</p>
        {% endfor %}
    </div>

    <div class="buttons">
        {% if project.github_link %}
            <a href="{{ project.github_link }}" target="_blank" class="btn">GitHub</a>
        {% endif %}

        {% if project.deploy_link %}
            <a href="{{ project.deploy_link }}" target="_blank" class="btn secondary">Ver Projeto</a>
        {% endif %}
    </div>

</div>

</body>
</html>